.dash {
    text-align: center;
    padding-top: 3%;
}

.dash-title {
    font-family: 'Merriweather', serif;
    padding-bottom: 2%;
}

.buttons {
    margin: auto;
    padding-bottom: 4%;
}

.stats-saves {
    font-family: 'Merriweather', serif;
}

@media(max-width: 767px) {
    .stats{
        padding-bottom: 4%;
    }
}